/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family:'Rubik Mono One', sans-serif;
    color: #FFFF00;
}

html{
    overflow-y: hidden;
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}


/* Utilities */

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* menu navigazione */

.nav-bar{
    
    position: fixed;
    top: 40px;
    right:20px;
    
}

.menu li{
  display: inline;
}

li a{
    display: inline-block;
    text-decoration: none;

    height: 40px;
    width: 40px;
    border-radius: 50%;

    color: black;
    background-color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 1px darkgray;

    line-height: 40px;
    text-align: center;
    margin-left: 20px;
}

.menu a:hover{
    scale: 1.5;
}

.menu a:active{
    scale: 1;
}


/* Pagine */

.full-page{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.full-page .content{
    position: absolute;
    bottom: 5%;
    right: 13%;
    translate: -50% -50%;
    font-weight: 800;
    text-align: center;
}

.full-page p{
    font-size: 50px;
}

/* Contenuto: Scarpe*/

#differente{
    background-image: url(../img/01.png);
    background-color: #FF0000;
}

#tommy{
    background-image: url(../img/02.png);
    background-color: #008000;

}

#converse{
    background-image: url(../img/03.png);
    color: #008000;
    background-color: #FFFF00;

}